title = "Gallery"
url = "/gallery"
layout = "default"
is_hidden = 0
==
<?php
use div\DivCms\Models\Gallery;
use Illuminate\Support\Facades\File;

function onStart() {
    
    $galleries = Gallery::all();

    $this['galleryList'] = $galleries->map(function ($item) {
        $galleryPath = "storage/app/media/$item->gallery_path";

        // Get all files in the gallery folder
        $files = collect(File::allFiles($galleryPath));

        // Count total files
        $fileCount = $files->count();

        // Get only the latest 3 files (by modified time)
        $fileList = $files->sortByDesc(function ($file) {
            return $file->getMTime();
        })->take(3)->values(); // Reset keys just in case

        // Return modified item
        return $item->setAttribute('fileCount', $fileCount)
                    ->setAttribute('fileList', $fileList);
    });

}
?>
==
<div class="gallery-page">

    <div class="page-content">
        
        <section class="banner-container">
            <img 
                src="/assets/images/our-events/bg-our-events.png"
                class="bg-img"
            />
    
            <div class="banner-wrapper">
                <h2 class="section-title">
                    <strong>F.A.M.E.</strong> Gallery: A Talent Showcase
                </h2>
                <p class="section-description">
                    Capturing the Magic, Passion, and Talent Behind the Spotlight
                </p>
            </div>
            
        </section>

        <div class="album-grid-container">

            {% for item in galleryList %}

                <div class="album-box" id="albumBox" data-album-id="album-1">
                
                    <div class="img-wrapper">
                        <div class="left-c">
                            <div class="img-container one">
                                {% if item.fileList|length > 0 %}
                                    <img src="{{ item.fileList[0].pathname | replace({'storage/app/media/': ''}) | media }}" />
                                {% endif %}
                            </div>

                            <div class="img-container two">
                                {% if item.fileList|length > 1 %}
                                    <img src="{{ item.fileList[1].pathname | replace({'storage/app/media/': ''}) | media }}" />
                                {% endif %}
                            </div>
                        </div>
                        <div class="img-container three">
                            {% if item.fileList|length > 2 %}
                                <img src="{{ item.fileList[2].getPathname() | replace({'storage/app/media/': ''}) | media }}" />
                            {% endif %}
                        </div>
                    </div>
                    <div class="album-info-w">
                        <p class="album-title">{{ item.title }}</p>
                        <p class="photo-count">{{ item.fileCount }} Photos</p>
                    </div>
                </div>

            {% endfor %}
        
            
        </div>
        
    </div>
    
</div>

<div id="modal-root">
    <!-- <div class="gallery-modal">

        <div class="close-btn">
            <i class="fa-solid fa-xmark"></i>
        </div>

        <div class="gallery-slideshow-container">
            <div class="displayed-image-c">
                <img src="/assets/images/home/exp-1.png" />
            </div>
            
            <div class="swiper" id="imageSlides">

                <div class="swiper-wrapper">

                    <div class="swiper-slide">

                        <div class="img-container">
                            <img src="/assets/images/home/exp-1.png" />
                        </div>
                        
                    </div>

                    <div class="swiper-slide">

                        <div class="img-container">
                            <img src="/assets/images/home/exp-1.png" />
                        </div>
                        
                    </div>

                    <div class="swiper-slide">

                        <div class="img-container">
                            <img src="/assets/images/home/exp-1.png" />
                        </div>
                        
                    </div>

                    <div class="swiper-slide">

                        <div class="img-container">
                            <img src="/assets/images/home/exp-1.png" />
                        </div>
                        
                    </div>

                    <div class="swiper-slide">

                        <div class="img-container">
                            <img src="/assets/images/home/exp-1.png" />
                        </div>
                        
                    </div>

                    <div class="swiper-slide">

                        <div class="img-container">
                            <img src="/assets/images/home/exp-1.png" />
                        </div>
                        
                    </div>

                    <div class="swiper-slide">

                        <div class="img-container">
                            <img src="/assets/images/home/exp-1.png" />
                        </div>
                        
                    </div>

                    <div class="swiper-slide">

                        <div class="img-container">
                            <img src="/assets/images/home/exp-1.png" />
                        </div>
                        
                    </div>

                    <div class="swiper-slide">

                        <div class="img-container">
                            <img src="/assets/images/home/exp-1.png" />
                        </div>
                        
                    </div>

                    <div class="swiper-slide">

                        <div class="img-container">
                            <img src="/assets/images/home/exp-1.png" />
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
        </div>

    </div> -->
</div>