title = "Home"
url = "/"
layout = "default"
is_hidden = 0
==
<?php
use div\divcms\models\Testimonials;
use div\divcms\models\Events;
use div\divcms\models\Classes;
use div\divcms\models\Hero;
function onStart() {
	$this->addCss('https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css');
    $this->addJs('https://cdn.jsdelivr.net/npm/simple-parallax-js@6.0.1/dist/vanilla/simpleParallaxVanilla.umd.min.js');
    $this->addJs('assets/js/parallax.js');
    $this->addJs('assets/js/home.js');
    $this->addJs('assets/js/bodymovinanimation.js');
    $this->addJs('assets/js/index-bodymovin.js');


    $this['testimonialsList'] = Testimonials::all();
    $this['eventList'] = Events::orderBy('event_date', 'desc')->take(3)->get();
    $this['classesList'] = Classes::where('show_on_home', '>', 0)
     ->orderBy('show_on_home', 'asc')
     ->take(3)
     ->get();
    // $this['classesList'] = Classes::orderByRaw('CAST(show_on_home AS UNSIGNED) ASC')
    //  ->limit(3)
    //  ->get();
    $this['heroList'] = Hero::all();
}
?>
==
{% put scripts %}
    <script type="module" src="{{ 'assets/js/swiper-initial.js' | theme }}"></script>
{% endput %}
<div class="home-page">

    <div class="page-content">

        <div class="banner-container" id="bannerContainer">

            <div class="slider-w">
                <img src="{{ 'images/home/home.png'|media }}" class="home-banner-img" id="img-moving-vertical" />
                
                <div class="banner-text-wrapper">
                    <h1 class="title">A yearly event displaying
                        the talents of
                        <span id="animation1" class="strong bodymovin-animate">people of determination.</span></h1>
                    <h2 class="description">We encourage creativity and showcase fashion, art, music and entertainment.</h2>
                    <div class="btn-container">
                        <button class="btn outline-dashed">
                            <img src="{{ 'assets/icons/play.png'|media }}" />
                            See Promotion Video
                        </button>
                        <a href="{{ 'contact-us' | page }}">
                            <button class="btn primary">
                                <img src="{{ 'assets/icons/phone-message.png'|media }}" />
                                Get Involve
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="slider-w">
                <img src="{{ 'images/home/home-banner-2.png'|media }}" class="home-banner-img" id="img-moving-vertical" />
                
                <div class="banner-text-wrapper">
                    <h1 class="title">A Stage for Stars Who Inspire.</h1>
                    <h2 class="description">Celebrating Ability, Creativity, and Dreams on Stage.</h2>
                    <div class="btn-container">
                        <button class="btn outline-dashed">
                            <img src="{{ 'assets/icons/play.png'|media }}" />
                            See Promotion Video
                        </button>
                    </div>
                </div>
            </div>

            {% for item in heroList %}

                <div class="slider-w">
                    <img src="{{ item.hero_img|media }}" class="home-banner-img" id="img-moving-vertical" />
                    
                    <div class="banner-text-wrapper">
                        <h1 class="title">{{ item.title }}</h1>
                        <h2 class="description">{{ item.description }}</h2>
                        {% if item.button_text %}
                            <div class="btn-container">
                                <a href="{{ item.button_link }}" target="_blank">
                                    <button class="btn primary">
                                        {{ item.button_text }}
                                    </button>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>

            {% endfor %}


        </div>
        

        <section class="featured-in-section">
            <div class="featured-in-wrapper">
                <div class="featured-in-item fi-1">
                    <a href="https://gulfnews.com/business/corporate-news/fame-launches-the-uaes-biggest-fully-inclusive-fashion-show-1.1687168845773" target="_blank">
                        <img src="{{ 'images/home/featured-in-1.png'|media }}" />
                    </a>
                </div>
                <div class="featured-in-item fi-2">
                    <a href="https://www.thenationalnews.com/lifestyle/2021/11/22/fame-the-uaes-biggest-showcase-for-people-of-determination-is-back/?utm_medium=social&utm_source=heylink.me" target="_blank">
                        <img src="{{ 'images/home/featured-in-2.png'|media }}" />
                    </a>
                </div>
                <div class="featured-in-item fi-3">
                    <a href="https://menews247.com/dubais-inclusive-talent-show-f-a-m-e-returns-with-a-fresh-format-for-2024/" target="_blank">
                        <img src="{{ 'images/home/featured-in-3.png'|media }}" />
                    </a>
                </div>
                <div class="featured-in-item fi-4">
                    <a href="https://www.khaleejtimes.com/uae/uaes-biggest-talent-show-by-people-of-determination-set-to-wow-dubai?utm_medium=social&utm_source=heylink.me" target="_blank">
                        <img src="{{ 'images/home/featured-in-4.png'|media }}" />
                    </a>
                </div>
                <div class="featured-in-item fi-5">
                    <a href="https://www.timeoutdubai.com/kids/kids-news/421449-inclusive-showcase-fame-is-set-to-wow-dubai" target="_blank">
                        <img src="{{ 'images/home/featured-in-5.png'|media }}" />
                    </a>
                </div>
                <div class="featured-in-item fi-6">
                    <a href="https://livehealthymag.com/the-return-of-fame-the-uaes-inclusive-talent-showcase/" target="_blank">
                        <img src="{{ 'images/home/featured-in-6.png'|media }}" />
                    </a>
                </div>
                <div class="featured-in-item fi-1">
                    <a href="https://gulfnews.com/business/corporate-news/fame-launches-the-uaes-biggest-fully-inclusive-fashion-show-1.1687168845773" target="_blank">
                        <img src="{{ 'images/home/featured-in-1.png'|media }}" />
                    </a>
                </div>
                <div class="featured-in-item fi-2">
                    <a href="https://www.thenationalnews.com/lifestyle/2021/11/22/fame-the-uaes-biggest-showcase-for-people-of-determination-is-back/?utm_medium=social&utm_source=heylink.me" target="_blank">
                        <img src="{{ 'images/home/featured-in-2.png'|media }}" />
                    </a>
                </div>
                <div class="featured-in-item fi-3">
                    <a href="https://menews247.com/dubais-inclusive-talent-show-f-a-m-e-returns-with-a-fresh-format-for-2024/" target="_blank">
                        <img src="{{ 'images/home/featured-in-3.png'|media }}" />
                    </a>
                </div>
                <div class="featured-in-item fi-4">
                    <a href="https://www.khaleejtimes.com/uae/uaes-biggest-talent-show-by-people-of-determination-set-to-wow-dubai?utm_medium=social&utm_source=heylink.me" target="_blank">
                        <img src="{{ 'images/home/featured-in-4.png'|media }}" />
                    </a>
                </div>
                <div class="featured-in-item fi-5">
                    <a href="https://www.timeoutdubai.com/kids/kids-news/421449-inclusive-showcase-fame-is-set-to-wow-dubai" target="_blank">
                        <img src="{{ 'images/home/featured-in-5.png'|media }}" />
                    </a>
                </div>
                <div class="featured-in-item fi-6">
                    <a href="https://livehealthymag.com/the-return-of-fame-the-uaes-inclusive-talent-showcase/" target="_blank">
                        <img src="{{ 'images/home/featured-in-6.png'|media }}" />
                    </a>
                </div>
                <div class="featured-in-item fi-1">
                    <a href="https://gulfnews.com/business/corporate-news/fame-launches-the-uaes-biggest-fully-inclusive-fashion-show-1.1687168845773" target="_blank">
                        <img src="{{ 'images/home/featured-in-1.png'|media }}" />
                    </a>
                </div>
                <div class="featured-in-item fi-2">
                    <a href="https://www.thenationalnews.com/lifestyle/2021/11/22/fame-the-uaes-biggest-showcase-for-people-of-determination-is-back/?utm_medium=social&utm_source=heylink.me" target="_blank">
                        <img src="{{ 'images/home/featured-in-2.png'|media }}" />
                    </a>
                </div>
                <div class="featured-in-item fi-3">
                    <a href="https://menews247.com/dubais-inclusive-talent-show-f-a-m-e-returns-with-a-fresh-format-for-2024/" target="_blank">
                        <img src="{{ 'images/home/featured-in-3.png'|media }}" />
                    </a>
                </div>
                <div class="featured-in-item fi-4">
                    <a href="https://www.khaleejtimes.com/uae/uaes-biggest-talent-show-by-people-of-determination-set-to-wow-dubai?utm_medium=social&utm_source=heylink.me" target="_blank">
                        <img src="{{ 'images/home/featured-in-4.png'|media }}" />
                    </a>
                </div>
                <div class="featured-in-item fi-5">
                    <a href="https://www.timeoutdubai.com/kids/kids-news/421449-inclusive-showcase-fame-is-set-to-wow-dubai" target="_blank">
                        <img src="{{ 'images/home/featured-in-5.png'|media }}" />
                    </a>
                </div>
                <div class="featured-in-item fi-6">
                    <a href="https://livehealthymag.com/the-return-of-fame-the-uaes-inclusive-talent-showcase/" target="_blank">
                        <img src="{{ 'images/home/featured-in-6.png'|media }}" />
                    </a>
                </div>
                <div class="featured-in-item fi-1">
                    <a href="https://gulfnews.com/business/corporate-news/fame-launches-the-uaes-biggest-fully-inclusive-fashion-show-1.1687168845773" target="_blank">
                        <img src="{{ 'images/home/featured-in-1.png'|media }}" />
                    </a>
                </div>
                <div class="featured-in-item fi-2">
                    <a href="https://www.thenationalnews.com/lifestyle/2021/11/22/fame-the-uaes-biggest-showcase-for-people-of-determination-is-back/?utm_medium=social&utm_source=heylink.me" target="_blank">
                        <img src="{{ 'images/home/featured-in-2.png'|media }}" />
                    </a>
                </div>
                <div class="featured-in-item fi-3">
                    <a href="https://menews247.com/dubais-inclusive-talent-show-f-a-m-e-returns-with-a-fresh-format-for-2024/" target="_blank">
                        <img src="{{ 'images/home/featured-in-3.png'|media }}" />
                    </a>
                </div>
                <div class="featured-in-item fi-4">
                    <a href="https://www.khaleejtimes.com/uae/uaes-biggest-talent-show-by-people-of-determination-set-to-wow-dubai?utm_medium=social&utm_source=heylink.me" target="_blank">
                        <img src="{{ 'images/home/featured-in-4.png'|media }}" />
                    </a>
                </div>
                <div class="featured-in-item fi-5">
                    <a href="https://www.timeoutdubai.com/kids/kids-news/421449-inclusive-showcase-fame-is-set-to-wow-dubai" target="_blank">
                        <img src="{{ 'images/home/featured-in-5.png'|media }}" />
                    </a>
                </div>
                <div class="featured-in-item fi-6">
                    <a href="https://livehealthymag.com/the-return-of-fame-the-uaes-inclusive-talent-showcase/" target="_blank">
                        <img src="{{ 'images/home/featured-in-6.png'|media }}" />
                    </a>
                </div>
            </div>
        </section>



        <section class="info-section">
            <div class="info-content">
                <h4 class="info-text"><span id="animation2" class="strong bodymovin-animate">FAME</span> is an annual stage show
                    celebrating people of determination with
                    fashion, music, and drama performances.</h4>
            </div>
        </section>



        <section class="home-video-section" style="background-image: url('{{ 'images/home/bg-rectangle.png'|media }}');">
            <!-- <img src="./assets/images/home/bg-rectangle.png" class="bg" /> -->
            
            <div class="video-container">
                <video controls poster="{{ 'images/home/video_thumbnail.png' | media }}" width="250" id="foundersVideo">
                    <source src="{{ 'images/home/founders-video.mp4' | media }}" type="video/mp4" />
                </video>
            </div>
        </section>


        {% if eventList|length > 0 %}

            <section class="recent-events-section">
                <h3 class="section-title">Our Recent <span id="animation3" class="bodymovin-animate">Events</span></h3>

                <div class="swiper" id="recentEventsSwiper">

                    <div class="swiper-wrapper">

                        {% for item in eventList %}

                            <div class="swiper-slide">
                    
                                <div class="recent-events-box">
                                    <div class="img-container">
                                        <img src="{{ item.img_poster | media }}" />
                                    </div>
                                    <div class="details-container">
                                        <p class="re-date">{{ item.event_date | date("d/m/Y")  }}</p>
                                        <h5 class="re-title">{{ item.title }}</h5>
                                        <p class="re-description">{{ item.description }}</p>
                                        <a href="{{ 'our-event-details' | page({ slug: item.slug }) }}" class="btn primary">View Event</a>
                                    </div>
                                </div>

                            </div>

                        {% endfor %}
                        
                    </div>
                    
                </div>

                <p class="view-all-events">
                    <a href="{{ 'our-events' | page }}">View all events <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                </p>
            </section>

        {% endif %}

        
        <section class="enroll-section">

            <h3 class="section-title">
                <span id="animation4" class="bodymovin-animate">Empowering Talent:</span> Register Today
            </h3>

            {% for item in classesList %}

                <div class="enroll-card 
                    {{ loop.index == 1 ? 'card-one' : 
                    (loop.index == 2 ? 'card-two' : 
                    (loop.index == 3 ? 'card-three' : '') ) }}">

                    <div class="title-description-text">
                        <h5 class="ec-title">{{ item.header_title }}</h5>
                        <p class="ec-description">{{ item.header_description }}</p>
                        <div class="btn-container">
                            <a href="{{ 'classes-details-page' | page({ slug: item.slug }) }}">
                                <button class="btn primary">Learn More <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                            </a>
                        </div>
                    </div>
                    
                    <div class="image-text-wrapper">
                        <div class="img-container">
                            <img src="{{ item.img_poster | media }}" />
                        </div>
                        <div class="text-c">
                            <p class="text"></p>
                        </div>
                    </div>

                    {% if loop.index == 3 %}
                        <p class="enroll-link-c">
                            <a href="{{ 'talent-hub' | page }}">See More Class <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                        </p>
                    {% endif %}

                </div>

            {% endfor %}
            
        </section>



        <section class="our-experience-section">

            <h3 class="section-title">
                Our <span id="animation5" class="bodymovin-animate">Experience</span> Speaks
            </h3>


            <div class="img-grid-container">

                <div class="g-col first">
                    <div class="img-container img-one">
                        <img src="{{ 'images/home/exp-1.png'|media }}" id="img-moving-vertical" />
                    </div>

                    <div class="img-container img-two">
                        <img src="{{ 'images/home/exp-2.png'|media }}" id="img-moving-vertical" />
                    </div>
                </div>

                <div class="g-col second">
                    <div class="img-container img-three">
                        <img src="{{ 'images/home/exp-3.png'|media }}" id="img-moving-vertical" />
                    </div>

                    <div class="img-container img-four">
                        <img src="{{ 'images/home/exp-4.png'|media }}" id="img-moving-vertical" />
                    </div>

                    <div class="img-container img-five">
                        <img src="{{ 'images/home/exp-5.png'|media }}" id="img-moving-vertical" />
                    </div>
                </div>
                
            </div>
            
            <p class="view-gallery">
                <a href="{{ 'gallery' | page }}">View Gallery <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
            </p>

        </section>



        <section class="testimonial-section">

            <h3 class="section-title">
                Why they <span id="animation6" class="bodymovin-animate">love</span> us
            </h3>

            <p class="section-description">
                See what our clients are saying about their experience
            </p>

            <div class="testimonial-wrapper">
                
                <div class="swiper" id="testimonialSwiper">

                    <div class="swiper-wrapper">

                        {% for item in testimonialsList %}

                            <div class="swiper-slide">
                                
                                <div class="testimonial-box">

                                    <img src="{{ 'assets/icons/quote.png' | media }}" class="quote-sign" />
                                    
                                    <p class="message">
                                        “{{ item.message }}”
                                    </p>

                                    <p class="name">{{ item.name }}</p>
                                    
                                </div>
                            
                            </div>

                        {% endfor %}

                        {% if testimonialsList|length < 4 %}

                            {% for item in testimonialsList %}

                                <div class="swiper-slide">
                                    
                                    <div class="testimonial-box">

                                        <img src="{{ 'assets/icons/quote.png' | media }}" class="quote-sign" />
                                        
                                        <p class="message">
                                            “{{ item.message }}”
                                        </p>

                                        <p class="name">{{ item.name }}</p>
                                        
                                    </div>
                                
                                </div>

                            {% endfor %}
                                
                            {% for item in testimonialsList %}

                                <div class="swiper-slide">
                                    
                                    <div class="testimonial-box">

                                        <img src="{{ 'assets/icons/quote.png' | media }}" class="quote-sign" />
                                        
                                        <p class="message">
                                            “{{ item.message }}”
                                        </p>

                                        <p class="name">{{ item.name }}</p>
                                        
                                    </div>
                                
                                </div>

                            {% endfor %}
                            
                        {% endif %}

                    </div>

                </div>
            
            
                <div class="testimonials-controls-container">
                    <div class="testimonials-button-prev" id="testimonialPrev">
                        <img src="{{ 'assets/icons/prev.png' | media }}" alt="" srcset="">
                    </div>
                    <div class="testimonials-button-next" id="testimonialNext">
                        <img src="{{ 'assets/icons/next.png' | media }}" alt="" srcset="">
                    </div>
                </div>
                
            </div>
            
        </section>
        
        
    </div>

</div>