title = "Sponsored"
url = "/sponsored"
layout = "default"
is_hidden = 0
==
<?php
use div\divcms\models\Partners;
function onStart() {

    $this['partnerList'] = Partners::all();

}
?>
==
<div class="sponsors-page">

    <div class="page-content">
        
        <section class="banner-container">
            <img 
                src="{{ 'assets/bg-title-header.png' | media}}"
                class="bg-img"
            />
    
            <div class="banner-wrapper">
                <h2 class="section-title">
                    Standing Together for <strong>F.A.M.E.</strong>
                </h2>
                <p class="section-description">
                    Celebrates the invaluable support of our sponsors, making this event possible and impactful.
                </p>
            </div>
            
        </section>

        <div class="info-section">
            <div class="info-content">
                
                <h3 class="info-title">
                    F.A.M.E. Talent Hub is a not-for-profit organization. We have been supported through the years by various companies, centers and private donors.
                </h3>

                <p class="info-description">
                    It is with this support that we can bring our vision to life and the dreams of the participants are made into a reality. We are grateful to all of the supporters and we welcome sponsorship opportunities and support for our ongoing ventures. Please get in touch if you would like to support us!
                </p>
                
            </div>
        </div>

        <div class="info-section">
            <div class="info-content">
                <p class="grid-title">Past & Present Sponsors</p>
                
                <div class="grid-container">

                    {% for item in partnerList %}

                        {% if item.type == "Sponsor" %}

                            <div class="img-container">
                                <img src="{{ item.img_path | media }}" />
                            </div>

                        {% endif %}

                    {% endfor %}
                    
                </div>
            </div>
        </div>

        
        <div class="info-section">
            <div class="info-content">

                <p class="grid-title">Supported by</p>
                
                <div class="grid-container">

                    {% for item in partnerList %}

                        {% if item.type == "Supporter" %}

                            <div class="img-container">
                                <img src="{{ item.img_path | media }}" />
                            </div>

                        {% endif %}

                    {% endfor %}
                    
                </div>
                
            </div>
        </div>
        
    </div>
    
</div>
