description = "Default layout"
==
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>PVEDubai</title>
    <link rel="stylesheet" href="{{ 'assets/css/style.css'|theme }}">
    {% styles %}
    <script src="https://kit.fontawesome.com/f5bf1013c9.js" crossorigin="anonymous"></script>
    {% placeholder headScript %}
</head>
<body>
	
	{% partial "header" %}

    {% page %}

	{% partial "components/footer" %}
	
	
	<script src="{{ 'assets/js/index.js'|theme }}"></script>
	{% scripts %}
</body>
</html>