[viewBag]
snippetProperties[0][id] = -1
==
<footer>
    <!-- <img src="/assets/images/footer/bg-footer.png" class="bg-footer"> -->
    <div class="footer-group">
        <div class="row-f">
            <div class="left-side">
                <p class="ready">Ready to have some fun?</p>
                <p class="get-in">Get in touch with us!</p>
                <p class="contact-no">+971 50 694 5330</p>
                <div class="contact-group">
                    <a href="/" class="btn primary">Contact Us</a>
                    <img src="{{ 'assets/icons/facebook.png'|media }}" />
                    <img src="{{ 'assets/icons/instagram.png'|media }}" />
                </div>
            </div>

            <div class="right-side">
                <p class="quicklinks-title">Quick Links</p>

                <ul class="links-list">
                    <li><a href="{{ 'our-story' | page }}">Our Story</a></li>
                    <li><a href="{{ 'our-team' | page }}">Meet the Team</a></li>
                    <li><a href="{{ 'talent-hub' | page }}">FAME Talent Hub</a></li>
                    <li><a href="{{ 'our-events' | page }}">FAME Events</a></li>
                    <li><a href="{{ 'gallery' | page }}">Gallery</a></li>
                    <li><a href="{{ 'sponsored' | page }}">Sponsors</a></li>
                    <li><a href="{{ 'featured' | page }}">Featured In</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="line-c"></div>
    
    <div class="footer-group">
        <div class="logo-footer-wrapper">
            <img src="{{ 'assets/fame-footer-logo.png'|media }}" />
            <img src="{{ 'assets/vogue-logo.png'|media }}" />
        </div>

        <div class="copy-right">
            <p>
                <span>©</span> <strong>Purple Vogue Events FZ LLC | FAME</strong> 2025 |
            </p>
            <span class="powered-by">powered by <img src="{{ 'assets/div-logo.png'|media }}" class="div-logo" /></span>
        </div>
    </div>
</footer>